<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cadastro organizadora</title>
</head>
<body>

    <h2>Cadastro da Organizadora <h2>
    <form action="/cadastro/cadastro-organizadora/nova-organizadora" method="POST">
        <input type="text" placeholder="Nome" name="usuarioOrganizadora">
        <input type="text" placeholder="Sobrenome" name="emailOrganizadora">
        <input type="text" placeholder="Nome" name="senhaOrganizadora">
        <input type="text" placeholder="Sobrenome" name="cnpjOrganizadora">
        <input type="text" placeholder="Sobrenome" name="enderecoOrganizadora">
        <input type="text" placeholder="Sobrenome" name="empresaOrganizadora">
        <input type="text" placeholder="Sobrenome" name="telefoneOrganizadora">
        <button type="submit">Submit</button>
    </form>

</body>
</html>
