<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cadastro Organizadora</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../stylesheets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../stylesheets/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../stylesheets/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../stylesheets/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../stylesheets/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../stylesheets/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../stylesheets/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/images/cadastro-organizadora/bg-fundo.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="cadastro-organizadora/nova-organizadora">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-lock-open"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Nova Organizadora
					</span>


					<div class="wrap-input100 validate-input" data-validate = "Nome fantasia da organizadora">
						<input class="input100" type="text" name="nomeOrganizadora" placeholder="Organizadora">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Usuario">
						<input class="input100" type="text" name="usuarioOrganizadora" placeholder="Login">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="E-mail">
						<input class="input100" type="text" name="emailOrganizadora" placeholder="E-mail">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Senha">
						<input class="input100" type="password" name="senhaOrganizadora" placeholder="insira uma senha">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>


					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Aceito os termos de licença
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							cadastrar
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Esqueceu sua senha?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../javascripts/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../javascripts/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../javascripts/popper.js"></script>
	<script src="../javascripts/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../javascripts/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../javascripts/moment.min.js"></script>
	<script src="../javascripts/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../javascripts/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../javascripts/main.js"></script>

</body>
</html>