  <!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Sevensoft7</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../images/site/img/favicon.ico" rel="icon">
  <link href="../images/site/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../stylesheets/site/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../stylesheets/site/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../stylesheets/site/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../stylesheets/site/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../stylesheets/site/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../stylesheets/site/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../stylesheets/site/css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">SevenSoft7</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">Sobre nós</a></li>
          <li><a href="#services">Serviços</a></li>
          <li><a href="#portfolio">Projeto</a></li>
          <li><a href="#team">Equipe</a></li>
          <li><a href="#contact">Contato</a></li>
          <li><a href="/cadastro-organizadora">Cadastrar</a></li>
          <li><a href="https://sevensoft7.azurewebsites.net/">Login</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="../images/site/img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Inovação</h2>
                <p>Monitoramento que oferece o melhor desempenho</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../images/site/img/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Problema</h2>
                <p>Um problema dos dias de hoje são máquinas muito potentes que não tem um cuidado
                  adequado e com isso perdem sua total capacidade de desempenho</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../images/site/img/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Como</h2>
                <p>Nosso serviço tem capacidade de monitorar todos os componentes do seu computador e com isso
                  podemos oferecer a melhor solução para você</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../images/site/img/intro-carousel/4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Valores</h2>
                <p>Queremos sempre agregar valor a experiência do jogador, oferecendo serviços
                pra qualquer tipo de gamer  </p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../images/site/img/intro-carousel/5.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Time</h2>
                <p>Sempre buscamos ter em nosso time pessoas que estejam alinhadas com nosso propósito
                  e pessoas dedicadas à nossa causa de agregar valor a experiência do jogador</p>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Sobre nós</h3>
          <p>Somos uma empresa de inovações em softwares de monitoramento.Hoje o mercado tem uma alta visão para o mercado de games,e que agora
            uma realidade que esta presente na atualidade é o E-SPORTS.Alguns desses eventos
            passam por problemas em suas maquinas por motivos de HACKS,trapaças,quedas de performance,entre outras,
            por isso buscamos a solução com uma equipe de total responsabilidade para iniciarmos um projeto de pesquisa e 
            inovação para entregar uma ideia até então inovadora no mercado, a monitoração de CPUs para oferecer 
            conforto e segurança.
          </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="../images/site/img/e-sport1.png" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nossa Missão</a></h2>
              <p>
                Construir uma relação de confiança e resultados
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="../images/site/img/e-sport2.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nosso Plano</a></h2>
              <p>
                Agregar valor a experiência do jogador
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="../images/site/img/e-sport3.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Nossa Visão</a></h2>
              <p>
                Extrair o melhor de cada computador nos confiam e no nosso monitoramento
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Serviços</h3>
          <p> Oferecemos nossos serviços de monitoramento para campeonatos e eventos voltado 
            para e-sports e jogos. 
          </p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Analytics</a></h4>
            <p class="description">Nossa SOFTWARE apresenta dados precisos de alta perforamce e desempenho,
              escolha o que sera monitorado,escolha o que sera programado para que nós a Sevensoft7,monitoremos
              de qualquer lugar. 
            </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Bookmark</a></h4>
            <p class="description">Deixe aquilo que você quer um cuidado maior e nosso sistema prioriza
              a visualização da sua seleção para você</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Inovação</a></h4>
            <p class="description">Dedicamos muito esforço e trabalho para entegarmos um sistema inovador
              para o mercado,com uma interface simples e pratica,não se preocupe com os imprevistos que o seu
              evento aconteça estaremos aqui para monitora-las.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Desempenho</a></h4>
            <p class="description">Com o uso de nosso serviços você terá um maior controle sobre o que
              vem reduzindo o potencial que seu computador pode oferecer.</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Discord</a></h4>
            <p class="description">O Discord se tornou nossa ÁS,acesse o Discord para que você fique por dentro 
              de tudo sobre os campeonatos e noticias,una-se com seus amigos e divirtam-se sobre o que acontece nos eventos 
              de E-sports de todo mundo.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Equipe de Suporte</a></h4>
            <p class="description">Surgiu um Problema?Fale conosco com uma equipe de suporte pronta para auxilia-lo e tirar duvidas,queda de performance?Aumento de Memoria?
              A SevenSoft7 ira alerta-lo para que você fique informado sobre tudo!
            </p>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Projeto</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Storyboard</li>
              <li data-filter=".filter-card">HLD</li>
              <li data-filter=".filter-web">Canvas</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="../images/site/img/portfolio/storyboard.PNG" class="img-fluid" alt="">
                <a href="../images/site/img/portfolio/storyboard.PNG" data-lightbox="portfolio" data-title="App 1" class="link-details"
                  title="More Details"><i class="ion ion-eye"></i></a>
                
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Storyboard</a></h4>
                <p></p>
              </div>
            </div>
          </div>
          

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="../images/site/img/portfolio/canvas.PNG" class="img-fluid" alt="">
                <a href="../images/site/img/portfolio/canvas.PNG" class="link-preview" data-lightbox="portfolio" data-title="Web 3"
                  title="Preview"><i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">Canvas</a></h4>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                <img src="../images/site/img/portfolio/hld.PNG" class="img-fluid" alt="">
                <a href="../images/site/img/portfolio/hld.PNG" class="link-preview" data-lightbox="portfolio" data-title="Card 1"
                  title="Preview"><i class="ion ion-eye"></i></a>
              </figure>

              <div class="portfolio-info">
                <h4><a href="#">High Level Design</a></h4>
                <p></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->


     <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Equipe</h3>
          <p>Nossos membros que fizeram esse projeto acontecer,foco total em seu tempo nessa ideia de Inovação,dedicação
            corre em nossas veias, a REALIDADE esta aqui,no coracão da SevenSoft7!
          </p>
        </div>
        
        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="../images/site/img/bore.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Matheus Boré</h4>
                  <span>Front-end</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="../images/site/img/jesus.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Guilherme Jesus</h4>
                  <span>Full-Stack</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="../images/site/img/lima.jpeg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lucas Lima</h4>
                  <span>Desenvolvedor JAVA</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="../images/site/img/will.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Sanches</h4>
                  <span>Back-end</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="">
                <img src="" class="" alt="">
                <div class="">
                  <div class="">
                    <h4></h4>
                    <span></span>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="member">
                <img src="../images/site/img/ribeiro.jpeg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Gabriel Ribeiro</h4>
                    <span>Suporte/Documentação</span>
                  </div>
                </div>
              </div>
            </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contato</h3>
          <p>Deseja cadastrar sua empresa? nossa Equipe estará aqui! Entre em contato conosco
            para estarmos presente em seu Evento.
          </p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Endereço</h3>
              <address>Rua Haddock Lobo, 595 - Cerqueira César, São Paulo - SP, 01419-002</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Telefone de Contato</h3>
              <p><a href="tel:+155895548855">(11)97304-2185</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">sevensoft@events.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" data-rule="minlen:4"
                  data-msg="Por favor, insira ao menos 4 caracteres" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email"
                  data-msg="Por favor, insira um Email válido" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4"
                data-msg="Por favor, insira ao menos 8 caracteres para um assunto" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor, escreva uma mensagem para nós"
                placeholder="Mensagem"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
           
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            

            <div class="social-links">
              
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
           
            <form action="" method="post">
              <!-- <input type="email" name="email"><input type="submit" value="Subscribe">-->
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
      </div>
      <div class="credits">
        
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../javascripts/site/lib/jquery/jquery.min.js"></script>
  <script src="../javascripts/site/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../javascripts/site/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../javascripts/site/lib/easing/easing.min.js"></script>
  <script src="../javascripts/site/lib/superfish/hoverIntent.js"></script>
  <script src="../javascripts/site/lib/superfish/superfish.min.js"></script>
  <script src="../javascripts/site/lib/wow/wow.min.js"></script>
  <script src="../javascripts/site/lib/waypoints/waypoints.min.js"></script>
  <script src="../javascripts/site/lib/counterup/counterup.min.js"></script>
  <script src="../javascripts/site/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../javascripts/site/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../javascripts/site/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../javascripts/site/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../javascripts/site/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../javascripts/site/js/main.js"></script>

</body>

</html>